{% extends 'clean.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
<div class="container">
    <div class="row">
      <div class="col-lg-8 col-md-10 mx-auto">
<h1>{{ action }} d'un article</h1>

{{ form(form) }}

</div></div></div>



{% endblock %}
