<div class="col-lg-4 col-md-2 mx-auto">
    <h3>Archives</h3>
    {# {{ dump(oldPosts) }} #}

    {% for oldPost in oldPosts %}

    <h5><a href="{{ path('post_view', {slug: oldPost.slug}) }}">{{ oldPost.title }}</a></h5>
    <div> {{ oldPost.createdAt | ago }} </div>
      
    {% endfor %}
  </div>